.App {
  text-align: center;
}

.countryDetailsPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.weatherReport {
  background-color: rgb(54, 221, 233);
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  margin: 30px;
}
.weatherReport > div {
  margin: 10px;
}
.reloadBtn {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
